body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

.app-layout .ant-layout-header {
  padding: 0 24px;
}

.app-layout .ant-layout-content {
  padding: 24px;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  border-radius: 8px;
}